<!DOCTYPE html>
<html lang="en">
<head>
    <base href="ekn://home">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        .content-node-thumbnail {
            max-width: 32px;
        }

        #pdf-canvas {
            border: 1px solid black;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.3.200/pdf.min.js" integrity="sha256-J4Z8Fhj2MITUakMQatkqOVdtqodUlwHtQ/ey6fSsudE=" crossorigin="anonymous"></script>
    <script>
        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        const pdfjsLib = window['pdfjs-dist/build/pdf'];

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.3.200/pdf.worker.min.js';
    </script>
    <script>
        function log (message) {
            document.getElementById('log').innerHTML += message + '\n';
        }

        window.EosKnowledgeLib = {
            callId: 1,
            pendingCalls: {},

            call: (func, args) => {
                const payload = {
                    func,
                    args: args || {},
                    callId: EosKnowledgeLib.callId,
                };
                EosKnowledgeLib.callId++;

                return new Promise((resolve, reject) => {
                    EosKnowledgeLib.pendingCalls[payload.callId.toString()] = {
                        resolve,
                        reject,
                    };

                    window.webkit.messageHandlers.eosKnowledgeLibCall.postMessage(
                        JSON.stringify(payload)
                    );
                });
            },

            resolveCall: payload => {
                const pendingCall = EosKnowledgeLib.pendingCalls[payload.callId.toString()];
                if (!pendingCall) {
                    return;
                }

                if (payload.error) {
                    console.error(
                        `EosKnowledgeLib.WebViewAPI failed: ${JSON.stringify(payload.error)}`);
                    pendingCall.reject(payload.error);
                } else {
                    pendingCall.resolve(payload.result);
                }
            },
        };
    </script>
</head>
<body>
    <h1 id="channel_name"></h1>
    <h2 id="channel_description"></h2>
    <p id="content">
        <h3 id="content_title"></h3>
        <a href="#" id="content_goback">Go Back</a>
        <ul id="content_node">

        </ul>
    </p>
    <hr />
    <pre id="log"></pre>

    <script>
        const breadcrumbs = [];

        async function loadPdf (url) {
            // Asynchronous download of PDF
            const pdf = await pdfjsLib.getDocument(url).promise;
            const page = await pdf.getPage(1);

            const viewport = page.getViewport({ scale: 1.5 });

            // Prepare canvas using PDF page dimensions
            const canvas = document.getElementById('pdf-canvas');
            const context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            return page.render({
                canvasContext: context,
                viewport: viewport
            });
        }

        function isValidFile (file) {
            return file && file.available
        }

        function renderNodeList (nodes) {
            const kindCharacters = {
                topic: '📁',
                video: '🎬',
                audio: '🎵',
                document: '🖹',
                html5: '🎲',
            };

            return nodes.map(child => {
                return `
                    <li>
                        ${kindCharacters[child.kind] || ''}
                        <a href="#" data-content-node-id="${child.id}">
                            ${child.title}
                        </a>
                    </li>
                `;
            }).join('');
        }

        function renderTopic (node) {
            return renderNodeList(node.children);
        }

        function renderVideo (node) {
            return `<video src="${node.main_file.file_uri}" controls="true"></video>`;
        }

        function renderAudio (node) {
            return `<audio src="${node.main_file.file_uri}" controls="true"></audio>`;
        }

        function renderDocument (node) {
            return `<canvas id="pdf-canvas"></canvas>`;
        }

        function renderHtml5 (node) {
            return `<iframe src="${node.main_file.ekn_uri}" width="640" height="480" />`;
        }

        async function refreshContent () {
            const node = await EosKnowledgeLib.call('get_content_node', {
                content_node_id: breadcrumbs[breadcrumbs.length - 1],
            });
            console.log(node);

            document.getElementById('content_title').innerHTML = node.title;
            document.getElementById('content_goback').style.display =
                breadcrumbs.length === 1 ? 'none' : 'block';

            let content = null;
            switch (node.kind) {
            case 'topic':
                content = renderTopic(node);
                break;

            case 'video':
                content = isValidFile(node.main_file) ? renderVideo(node) : null;
                break;

            case 'audio':
                content = isValidFile(node.main_file) ? renderAudio(node) : null;
                break;

            case 'document':
                content = isValidFile(node.main_file) ? renderDocument(node) : null;
                break;

            case 'html5':
                content = isValidFile(node.main_file) ? renderHtml5(node) : null;
                break;

            default:
                content = `The content type <strong>${node.kind}</strong> is not supported`;
                break;
            }

            if (!content) {
                content = 'Content not available';
            }

            document.getElementById('content_node').innerHTML = content;

            if (node.kind === 'document' && isValidFile(node.main_file)) {
                await loadPdf(node.main_file.ekn_uri);
            }
        }

        async function main () {
            const metadata = await EosKnowledgeLib.call('get_metadata');

            document.getElementById('channel_name').innerHTML = metadata.name;
            document.getElementById('channel_description').innerHTML = metadata.description;

            document.getElementById('content_node').addEventListener('click', event => {
                const contentNodeId = event.target.getAttribute('data-content-node-id');
                if (contentNodeId) {
                    breadcrumbs.push(contentNodeId);
                    refreshContent();
                    event.preventDefault();
                }
            });

            document.getElementById('content_goback').addEventListener('click', event => {
                breadcrumbs.pop();
                refreshContent();
                event.preventDefault();
            });

            breadcrumbs.push(metadata.id);
            await refreshContent();

            window.addEventListener('ekn-update-search', async event => {
                if (event.detail.query) {
                    const result = await EosKnowledgeLib.call('search', event.detail);
                    document.getElementById('content_node').innerHTML = renderNodeList(result.results);
                } else {
                    await refreshContent();
                }
            });
        }

        main();
    </script>
</body>
</html>
